.page {
  display: flex;
  min-height: 100vh;
  padding-top: 64px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.left {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding-right: 24px;
}

.right {
  flex: 1;
  height: 590px;
  padding-left: 24px;
  border-left: 1px solid #dfdfdf;
}

.image {
  width: 760px;
  height: 504px;
}

.markdown {
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
  color: #212529;
  padding-top: 24px;
  padding-bottom: 40px;
  border-bottom: 1px solid #dfdfdf;
}

.smallerHeading {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  /* border: 1px solid #ccc; */
}

.headingRight {
  margin-top: 14px;
}

.headerInfo {
  display: flex;
  align-items: center;
  /* background-color: aqua; */
}

.author {
  font-size: 14px;
  line-height: 20px;
  color: #6c757d;
  font-weight: 400;
  margin-right: 12px;
}

.dot {
  height: 4px;
  width: 4px;
  border-radius: 2px;
  background-color: #6c757d;
}

.date {
  font-size: 14px;
  line-height: 20px;
  color: #6c757d;
  font-weight: 400;
  margin-left: 12px;
}

.form {
  /* height: 80px; */
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  margin-bottom: 28px;
  box-sizing: border-box;
}

.newComment {
  width: 100%;
  appearance: none;
}

.sendGroup {
  display: flex;
  /* align-items: center; */
}

.buttonWrapper {
  margin-left: 28px;
}

.nameInputWrapper {
  width: 260px;
}
