.screen {
  background-color: #e5e5e5;
  min-height: 100vh;
}

.container {
  width: 1600px;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  flex-direction: column;
}

.content {
  width: 1150px;
  margin-left: auto;
  margin-right: auto;
}
