.wrapper {
  /* border: 1px solid #ccc; */
  display: flex;
  cursor: pointer;
  height: 56px;
  align-items: center;
  padding-left: 14px;
  padding-right: 14px;
}

.wrapper:hover {
  /* background-color: #777; */
  border-bottom: 1px solid #2b7efb;
}

.text {
  color: #2b7efb;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  /* padding: 0; */
  /* background-color: yellow; */
  margin: 0 10px 0 0;
}
/* .text:hover {
  border-bottom: 1px solid #2b7efb;
  font-weight: 700;
} */

.arrow {
  width: 24px;
  height: 24px;
}
