.page {
  display: flex;
  flex-direction: column;
}

.headingRow {
  display: flex;
  margin-top: 48px;
  margin-bottom: 60px;
  align-items: center;
}

.buttonWrapper {
  margin-left: 32px;
}

.tableHeadingRow {
  border-bottom: 2px solid #dfdfdf;
}

.table {
  border-collapse: collapse;
}

.table th {
  /* background-color: aquamarine; */
  text-align: start;
  /* display: flex; */
}

.headingCell {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  cursor: pointer;
}

.controls {
  margin-left: 10px;
}

.table tr {
  border-bottom: 1px solid #dfdfdf;
}

.commentsCell {
  padding-left: 14px;
  padding-right: 14px;
}

.modalBody {
  display: flex;
  flex-direction: column;
}

.modalMessage {
  font-size: 20px;
  line-height: 30px;
  font-family: 400;
}

.deletedArticle {
  font-weight: 600;
  margin-left: 14px;
}

.modalButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
