.button {
  padding: 12px;
  cursor: pointer;
}

.controls {
  margin-left: -12px;
  display: flex;
  align-items: center;
}

.row td {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.commentsCell {
  padding-left: 14px;
}
